<div id="menu">
  <ul>
    <li><a href="{{show.url_for}}">Accueil</a></li>
    <li><a href="#podcast">Podcast</a></li>
    <li><a href="/tags/archives">Archives</a></li>
  </ul>
</div>
<div id="menu-underline"></div>
