<div id="menu">
  <ul>
    <li><a href="{{show.url_for}}">Accueil</a></li>
    <li class="listen"><a href="{{show.url_for}}direct" onclick="window.open('{{show.url_for}}direct','re2008-live','height=300,width=450');return false;" title="Ecouter Radio Esperanzah!">Ecouter en direct</a></li>
    <li><a href="#podcast" title="Abonnez vous au podcast">Podcast</a></li>
    <li><a href="http://www.flickr.com/groups/radio-esperanzah/" title="Suivez Radio Esperanzah! en images"  target="_new">Photos</a></li>
    <!-- <li><a href="http://soundcloud.com/radio-esperanzah" title="Vibrez avec Radio Esperanzah!" target="_new">Jingles</a></li> -->
    <li><a href="/tags/archives" title="Dix ans de festival, ça s'écoute !">Archives</a></li>

  </ul>
</div>
<div id="menu-underline"></div>
