<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>{{show.name}} - Bonnes Ondes</title>
    {% include 're2011/head' %}
  </head>

  <body class="show">
    <div id="container">
      {% include 're2011/header' %}
      <div id="panel">
        <div id="breadcrumbs">
          {% include 're2011/breadcrumbs' %}
        </div>
        {% include 're2011/menu' %}
        <div id="content">
          <div class="post">
            {% for post in show.posts limit:1 %}
            <h2>{{ post.title }}</h2>
            {{ post.description | textilize }}
            {% endfor %}
          </div>
        </div>
        <div id="sidebar">
          <div class="block twitter">
            <h3>Sur Twitter <a href="http://twitter.com/radioesperanzah">@radioesperanzah</a></h3>
          </div>
        </div>
      </div>
      {% include 're2011/footer' %}
    </div>
  </body>
</html>
